{% extends "layouts/base.html" %}
{% block local_includes %}
  <script src="{{ STATIC_URL }}js/WebUi/gallery.js" ></script>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css">
{% endblock %}
{% block title %}Galeria{% endblock %}

{% block content %}
<a href="/">Regresar: Upload una foto</a>
<h1>Galería de Fotos</h1>
<table>
  {% for photo in photos %}
    <tr>
      <th>
	<ul>
	  <li> {{ photo.filename }} </li>
	  <li> <img class="gallery" src="{{ photo.file.url }}"></li>
	  <li> 
	    <form action="delete_photo" method="POST">{% csrf_token %}
	      <input name="photo_id" type="hidden" value="{{ photo.pk }}">
	      <input type="submit" value="Delete this Photo">
	    </form>
	  </li>
	</ul>
        {% for portrait in photo.portrait_set.all %}
	  <td>
	    <ul portrait-id="{{ portrait.pk }}">
	      <li> {{ portrait.filename }} </li>
	      <li><img class="gallery" src="{{ portrait.file.url }}"> </li>
	      {% if portrait.isFace %}
	      <li class="portrait-name"><label>{{ portrait.name }}</label></li>
	      <li class="portrait-input"><input portrait-id="{{ portrait.pk }}" class="reject-face" type="button" value="No es un Rostro"></li>
	      {% else %}
	      <li class="portrait-name"><input portrait-id="{{ portrait.pk }}" type="text"></li>
	      <li class="portrait-input"><input portrait-id="{{ portrait.pk }}" class="accept-face" type="button" value="Nombrar Rostro"></li>
	      {% endif %}
	    </ul>
	  </td>
	{% endfor %}
  {% endfor %}
</table>
{% endblock %}
