{% extends "layouts/base.html" %}

{% block content %}

  <div class="main-photo-container">
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
      {% for field in form %}
        <li>{{ field.errors }}</li>
        <li> {{ field.label_tag }}: {{ field }}</li>
      {% endfor %}
      <li><input id="submit" class="left_column btn" type="submit" value="Upload" /></li>
    </form>
  </div>


  {% if photo %}
    <table>
      <tr>
	<th colspan="{{ photo.portrait_set.count }}">
	  <img src="{{ photo.file.url }}" photo-id="{{ photo.pk }}">
	</th>
      </tr>
      <tr>
	{% for portrait in photo.portrait_set.all %}
	  <td>
	    <form action="Portrait {{ forloop.counter }}.html" method="POST"> 
              <img class="portrait" path="{{portrait.src}}" src="{{ portrait.file.url }}" id="portrait_{{ forloop.counter }}" />
        
              <input class="portrait batsu" type="button" Value="X" num='{{ forloop.counter }}' >
              <input class="portrait maru" type="button" Value="O" num='{{ forloop.counter }}'  >
        
              <input class="portrait" id="text_{{ forloop.counter }}" type="text" value="{{ portrait.name }}" />
            </form>
	  </td>
	{% endfor %}
      </tr>
    </table>
  {% endif %}
  
  <div class="info-box">
  <h1>Instrucciones</h1>
  <ul>
    <li>Subir una fotos con rostros de perfil
    <li>Rotular cada retrato y presionar 'O'
    <li>En caso de un falso positivo, presionar 'X'
    <li>Usar el mismo rótulo para cada persona. Aparecera una lista sugiriendo los nombres previamente ingresados.
    <li>Puedes ver las fotos subidas en la <a href="gallery.html">Galería</a>
  <ul>
  </div>

{% endblock %}
