{% extends "layouts/base.html" %}
{% block local_includes %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/upload_photo.css">
  <script src="{{ STATIC_URL }}js/WebUi/upload_photo.js"></script>
{% endblock %}

{% block content %}

  <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
      <li>{{ field.errors }}</li>
      <li> {{ field.label_tag }}: {{ field }}</li>
    {% endfor %}
    <li><input id="submit" class="left_column btn" type="submit" value="Upload" /></li>
  </form>

  <div class="info-box">
  <h1>Instrucciones</h1>
  <ul>
    <li>Subir una fotos con rostros de perfil
    <li>Rotular cada retrato y presionar 'O'
    <li>En caso de un falso positivo, presionar 'X'
    <li>Usar el mismo rótulo para cada persona. Aparecera una lista sugiriendo los nombres previamente ingresados.
    <li>Puedes ver las fotos subidas en la <a href="gallery.html">Galería</a>
  <ul>
  </div>

  {% if photo %}
    <table>
      <tr>
	<th colspan="{{ photo.portrait_set.count }}">
	  <img src="{{ photo.file.url }}" photo-id="{{ photo.pk }}">
	</th>
      </tr>
      <tr>
	{% for portrait in photo.portrait_set.all %}
	  <td>
            <ul>
	      <li>{{ portrait.filename }}</li>
	      <li><img src="{{ portrait.file.url }}" portrait-id="{{ portrait.pk }}" /></li>
              <li><input portrait-id="{{ portrait.pk }}" type="text"></li>
              <li><input class="accept-face" type="button" value="Nombrar Rostro" portrait-id="{{ portrait.pk }}" ></li>
              <li><input class="reject-face" type="button" value="No es un Rostro" portrait-id="{{ portrait.pk }}" ></li>
	    </ul>
	  </td>
	{% endfor %}
      </tr>
    </table>
  {% endif %}
{% endblock %}
