<!DOCTYPE html>

<head>
  <meta enconding="utf8">
  <link rel="stylesheet" type="text/css" href="/static/main.css">
  <title>Galeria</title>
</head>

<body>
<table>
  {% for photo in photos %}
    <tr>
      <th>
	<ul>
	  <li> {{ photo.name }}
	  <li> <img class="gallery" src="{{ photo.path }}">
	</ul>
        {% for portrait in photo.portraits %}
	  <td>
	    <ul>
	      <li> {{ portrait.name }}
	      <li><img class="gallery" src="{{ portrait.path }}">
	    </ul>
	{% endfor %}
  {% endfor %}
</table>
</body>
