<html>
<head>
<!--
<link rel="stylesheet" type="text/css" media="all" href="css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/960.css" />

<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
-->

<link rel="stylesheet" type="text/css" href="main.css">

<script src="jquery-1.6.4.js"></script>
<script src="main.js" ></script>

</head>
<body>


  <div class="main-photo-container">
    <form action="upload_photo.html" method="POST">
      <input class="left_column" type="file" value="Browse for photo" />
      <br />
      <input id="submit" class="left_column btn" type="submit" value="Upload" />
    </form>

    <img src="Test/20100817_003.jpg" alt="" class="large" id="main_photo" />

  </div>
  

  
  <div class="portrait-container">
    <form action="Portrait1.html" method="POST"> 
      <img class="portrait" src="Test/face_20100817_003.jpg_0.png" />
        
      <input class="portrait batsu" type="button" Value="X">
      <input class="portrait maru" type="button" Value="O">
    
      <input class="portrait" type="text" />
    </form>
  </div>


    
    <div class="portrait-container">
      <img class="portrait" src="Test/face_20100817_003.jpg_1.png" />
    
      <input class="portrait batsu" type="button" Value="X">
      <input class="portrait maru" type="button" Value="O">
 
      <input class="portrait" type="text" />
    </div>
  </div>
   <div class="portrait-container">
      <img class="portrait" src="Test/face_20100817_003.jpg_2.png" />
    
      <input class="portrait batsu" type="button" Value="X">
      <input class="portrait maru" type="button" Value="O">
 
      <input class="portrait" type="text" />
    </div>
  </div>
<!--
</div>
-->
</body>
</html>