body{
  #background-color:purple;
}

img#main_photo{
  max-width:680px;
  border:1px;
  overflow:auto;
}



img.portrait{
  position:absolute;
  top:0px;
  left:0px;
  height:64px;
  width:64px;
}

input.batsu{
  position:absolute;
  top:0px;
  left:65px;
  width:24px;
  margin:0px;
}

input.maru{
  position:absolute;
  top:36px;
  left:65px;
  width:24x;
  margin:0px;
  
  
}

input[type="text"]{
  
  position:absolute;
  top:64px;
  left:0px;
  width:88px;
  height:15px;
  padding:2px;
  border:1px;
  border-style:solid;
  
}

input:hover{
  border-style:groove;
  border-width:3px;
}

/*
 Pongo el desplacamiento para 7 retratos
 

div.portrait-container:first-child{
  position:absolute;
  top:1px;
  left:1px;
}


div.portrait-container:nth-child(1){
  position:absolute;
  top:82px;
  left:1px;
}
*/
div.portrait-container:nth-child(2){
  position:absolute;
  top:1px;/*164*/
  left:700px;
}

div.portrait-container:nth-child(3){
  position:absolute;
  top:82px;/*246*/
  left:700px;
}

div.portrait-container:nth-child(4){
  position:absolute;
  top:164px;/*328*/
  left:700px;
}

div.portrait-container:nth-child(5){
  position:absolute;
  top:410px;
  left:700px;
}

div.portrait-container:nth-child(6){
  position:absolute;
  top:492px;
  left:700px;
}

div.portrait-container:nth-child(7){
  position:absolute;
  top:574px;
  left:700px;
}