<html>
<head>

<link rel="stylesheet" type="text/css" href="main.css">

<script src="jquery-1.6.4.js"></script>
<script src="main.js" ></script>

</head>
<body>


  <div class="main-photo-container">
    <form action="upload_photo.html" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <input class="left_column" type="file" value="Browse for photo" />
      <br />
      <input id="submit" class="left_column btn" type="submit" value="Upload" />
    </form>

    <img src="" alt="" class="large" id="main_photo" />

  </div>

</body>
</html>