body{
  #background-color:purple;
}

div.info-box{
 width:330px;
 position:absolute;
 top:0px;
 left:900px;
 background:#fff4c8;
 border-width:4px;
 border-color:black;
 border-style:solid;
 margin:5px;
 padding:10px;
}

img#main_photo{
  max-width:680px;
  border:1px;
  overflow:auto;
}



img.portrait{
  position:absolute;
  top:0px;
  left:0px;
  height:64px;
  width:64px;
}

input.batsu{
  position:absolute;
  top:0px;
  left:65px;
  width:24px;
  margin:0px;
}

input.maru{
  position:absolute;
  top:36px;
  left:65px;
  width:24x;
  margin:0px;
  
  
}

input[type="text"]{
  
  position:absolute;
  top:64px;
  left:0px;
  width:88px;
  height:20px;
  padding:2px;
  border:1px;
  border-style:solid;
  
}

input:hover{
  border-style:groove;
  border-width:3px;
}

div.portrait-container{
  position:absolute;
  left:700px;
}