<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">

<script src="{{ STATIC_URL }}jquery-1.6.4.js"></script>
<script src="{{ STATIC_URL }}jquery-ui-1.8.16.custom.min.js" ></script>
<script src="{{ STATIC_URL }}main.js" ></script>
<script type="text/javascript">
   $(document).ready(function(){
     $("input.portrait").autocomplete( {source:{{ autocomplete_list|safe }}} ); /*Hay que darle una lista de str "" */
   });
</script>

</head>
<body>

<!-- Falta el media Root Se da el photo path y una lista con los portrait paths encontrados-->
  <div class="main-photo-container">
    <form action="" method="POST" enctype="multipart/form-data">
      <input name="file" class="left_column" type="file" value="Browse for photo" />
      <!-- {{ form.as_p }}-->
      <br />
      <input id="submit" class="left_column btn" type="submit" value="Upload" />
    </form>
    {% if photo_path %}
      <img src="{{ MEDIA_URL }}{{ photo_path }}" alt="" class="large" id="main_photo" />
    {% else %}
      <img src="no_image.png" alt="" class="large" id="main_photo" />
    {% endif %}
    

  </div>
  

<!-- Falta hacer el loop con template -->

  {% if portraits %}
    {% for portrait in portraits %}

      <div class="portrait-container" id="portrait_container_{{ forloop.counter }}">
      
        <form action="Portrait {{ forloop.counter }}.html" method="POST"> 
          <img class="portrait" src="{{ portrait.src }}" id="portrait_{{ forloop.counter }}" />
        
          <input class="portrait batsu" type="button" Value="X" num='{{ forloop.counter }}' >
          <input class="portrait maru" type="button" Value="O" num='{{ forloop.counter }}'  >
        
          <input class="portrait" id="text_{{ forloop.counter }}" type="text" value="{{ portrait.name }}" />
        </form>
      </div>
    {% endfor %}
  {% endif %}



  <div class="info-box">
  <h1>Instrucciones</h1>
  <ul>
    <li>Subir una fotos con rostros de perfil
    <li>Rotular cada retrato y presionar 'O'
    <li>En caso de un falso positivo, presionar 'X'
    <li>Usar el mismo rótulo para cada persona. Aparecera una lista sugiriendo los nombres previamente ingresados.
  <ul>
  </div>

</body>
</html>