<html>
<head>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}main.css">

<script src="{{ STATIC_URL }}jquery-1.6.4.js"></script>
<script src="{{ STATIC_URL }}main.js" ></script>

</head>
<body>

<!-- Falta el media Root Se da el photo path y una lista con los portrait paths encontrados-->
  <div class="main-photo-container">
    <form action="" method="POST" enctype="multipart/form-data">
      <input name="file" class="left_column" type="file" value="Browse for photo" />
      <!-- {{ form.as_p }}-->
      <br />
      <input id="submit" class="left_column btn" type="submit" value="Upload" />
    </form>

    <img src="{{ MEDIA_URL }}{{ photo_path }}" alt="" class="large" id="main_photo" />

    

  </div>
  

<!-- Falta hacer el loop con template -->


  {% for portrait in portraits %}

    <div class="portrait-container" id="portrait_container_{% cycle '1' '2' '3' '4' '5' '6' '7' %}">
      
      <form action="Portrait {% cycle '1' '2' '3' '4' '5' '6' '7' %}.html" method="POST"> 
        <img class="portrait" src="/Uploads/Portraits/{{portrait}}" id="portrait_{% cycle '1' '2' '3' '4' '5' '6' '7' %}" />
        
        <input class="portrait batsu" type="button" Value="X" num='{% cycle '1' '2' '3' '4' '5' '6' '7' %}'>
        <input class="portrait maru" type="button" Value="O" num='{% cycle '1' '2' '3' '4' '5' '6' '7' %}'>
        
        <input class="portrait" id="text_{% cycle '1' '2' '3' '4' '5' '6' '7' %}" type="text" />
      </form>
    </div>
  {% endfor %}



</body>
</html>